#root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.App {

  /* width: 400px; */
  /* display: flex;
  flex-direction: column; */
  border: solid black 0.5rem;
  width: 20rem;
}
.equation, .input {
  width: 100%;
  min-height: 2rem;
  background-color: black;
  margin: 0;
  color: white;
  text-align: right;
}

.equation {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.keyboard {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns:  repeat(4,  1fr);
  /* grid-template-rows: 3rem; */
  grid-template-rows:  repeat(5, 4rem);
  grid-template-areas: 
    "reset reset divide multiply"
    "seven eight nine minus"
    "four five six plus"
    "one two three equal"
    "zero zero dot equal";

  /* border-block: medium dashed blue; */
  background-color: black;
  gap: 2px;
}


.keyboard > * {
  border: 0;
  cursor: pointer;
  position: relative;
}

.keyboard > *:active {
  top: 1px;
  left: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
}

.reset {grid-area: reset;}
.divide {grid-area: divide;}
.multiply {grid-area: multiply;}
.seven {grid-area: seven;}
.eight {grid-area: eight;}
.nine {grid-area: nine;}
.minus {grid-area: minus;}
.four {grid-area: four;}
.five {grid-area: five;}
.six {grid-area: six;}
.plus {grid-area: plus;}
.one {grid-area: one;}
.two {grid-area: two;}
.three {grid-area: three;}
.equal {grid-area: equal;}
.zero {grid-area: zero;}
.dot {grid-area: dot;}